* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#app {
  padding: 16px;
}

nav {
  width: 25vw;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
nav .navHead {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav .navHead h2 {
  width: 230px;
  text-align: center;
}
nav .navHead #openClose {
  background-color: white;
}
nav .navHead:hover {
  cursor: pointer;
}
nav .navLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
nav .navLinks .navLink {
  display: none;
}
nav a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
