nav {
  width: 25vw;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .navHead {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    h2 {
      width: 230px;
      text-align: center;
    }
  }

  .navHead:hover {
    cursor: pointer;
  }

  .navLinks {
    width: 15vw;

    z-index: 99;
    background-color: black;

    position: absolute;
    top: 150px;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .navLink {
      width: 100%;
      min-height: 5vh;

      display: none;
      justify-content: center;
      align-items: center;
    }

    .navLink:hover {
      background-color: #222;
      color: #ddd;
    }
  }

  a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }
}
