nav {
  width: 25vw;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;

  .navHead {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    h2 {
      width: 230px;
      text-align: center;
    }

    #openClose {
      background-color: white;
    }
  }

  .navHead:hover {
    cursor: pointer;
  }

  .navLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .navLink {
      display: none;
    }
  }

  a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }
}
